### PYQ -1    Q. Merge the three data sets  with sales, TV GRPs & Video Impressions

In [1]:
### Importing Library
import pandas as pd

In [ ]:

# Sales data
sales_data = {
    'Timestamp': ['2021-07-21 00:00', '2021-07-28 00:00', '2021-08-04 00:00', '2021-08-11 00:00',
                  '2021-08-18 00:00', '2021-08-25 00:00', '2021-09-01 00:00', '2021-09-08 00:00',
                  '2021-09-15 00:00', '2021-09-22 00:00', '2021-09-29 00:00', '2021-10-06 00:00',
                  '2021-10-13 00:00'],
    'Sales': [129420, 150990, 107850, 53925, 215700, 291195, 107850, 312765, 431400,
              97065, 204915, 215700, 53925]
}

# TV GRPs data
tv_grps_data = {
    'Timestamp': ['2021-08-04 00:00', '2021-08-11 00:00', '2021-08-18 00:00',
                  '2021-08-25 00:00', '2021-09-01 00:00'],
    'TV_GRPs': [5, 17, 25, 29, 23]
}

# Video Impressions data
video_impressions_data = {
    'Timestamp': ['2021-07-21 00:00', '2021-07-28 00:00', '2021-08-04 00:00',
                  '2021-08-11 00:00', '2021-08-18 00:00', '2021-08-25 00:00',
                  '2021-09-01 00:00'],
    'Video_Impressions': [2500, 5000, 10000, 7500, 11250, 7000, 5750]
}

# Covert to dataframes 
df_sales = pd.DataFrame(sales_data)
df_tv = pd.DataFrame(tv_grps_data)
df_video = pd.DataFrame(video_impressions_data)

# Convert Timestamp to datetime
df_sales['Timestamp'] = pd.to_datetime(df_sales['Timestamp'])
df_tv['Timestamp'] = pd.to_datetime(df_tv['Timestamp'])
df_video['Timestamp'] = pd.to_datetime(df_video['Timestamp'])

#####  In the code above, we first converted the data into DataFrames and then converted the Timestamp column to datetime format to enable accurate time-based calculations and merging.

In [3]:
### Merged the data frames 

# Merge sales and TV GRPs
merged_df = pd.merge(df_sales, df_tv, on='Timestamp', how='outer')

# Merge with Video Impressions
merged_df = pd.merge(merged_df, df_video, on='Timestamp', how='outer')

# Sort by Timestamp
merged_df = merged_df.sort_values('Timestamp').reset_index(drop=True)

In [5]:
### Final output after merger 

print(merged_df)

    Timestamp   Sales  TV_GRPs  Video_Impressions
0  2021-07-21  129420      NaN             2500.0
1  2021-07-28  150990      NaN             5000.0
2  2021-08-04  107850      5.0            10000.0
3  2021-08-11   53925     17.0             7500.0
4  2021-08-18  215700     25.0            11250.0
5  2021-08-25  291195     29.0             7000.0
6  2021-09-01  107850     23.0             5750.0
7  2021-09-08  312765      NaN                NaN
8  2021-09-15  431400      NaN                NaN
9  2021-09-22   97065      NaN                NaN
10 2021-09-29  204915      NaN                NaN
11 2021-10-06  215700      NaN                NaN
12 2021-10-13   53925      NaN                NaN