In [10]:
import pandas as pd
import numpy as np

data = {
    'Name': ['Employee_1', 'Employee_2', 'Employee_3', 'Employee_4', 'Employee_5',
             'Employee_6', 'Employee_7', 'Employee_8', 'Employee_9', 'Employee_10',
             'Employee_11', 'Employee_12', 'Employee_13', 'Employee_14', 'Employee_15',
             'Employee_16', 'Employee_17', 'Employee_18', 'Employee_19', 'Employee_20',
             'Employee_21', 'Employee_22', 'Employee_23', 'Employee_24', 'Employee_25',
             'Employee_26', 'Employee_27', 'Employee_28', 'Employee_29', 'Employee_30'],

    'Salary': [58495.0, 38784.0, 120000.0, 60300.0, 46788.0,
               95098.0, 61550.0, 38155.0, 55480.0, 49398.0,
               64108.0, 38394.0, 46672.0, 20000.0, 87095.0,
               57055.0, 47194.0, 66267.0, 83203.0, 44490.0,
               48817.0, 37380.0, 53403.0, 80283.0, 80000.0,
               52704.0, 56186.0, 56516.0, 45401.0, np.nan],  # We add np.nan in datasets to simulate missing values

    'Age': [45, 48, 34, 35, 29, 36, 29, 23, 29, 25,
            54, 29, 23, 54, 23, 41, 45, 22, 49, 27,
            27, 28, 33, 31, 27, 36, 30, 24, 29, np.nan],  # We add np.nan in datasets to simulate missing values

    'Function': ['HR', 'Sales', 'Manager', 'Manager', 'HR',
                 'Sales', 'Manager', 'HR', 'Sales', 'HR',
                 'Sales', 'Developer', 'Developer', 'Sales', 'HR',
                 'Sales', 'Developer', 'Developer', 'HR', 'Sales',
                 'HR', 'Manager', 'HR', 'Sales', 'HR',
                 'Sales', 'Developer', 'Developer', 'HR', np.nan]  # added np.nan
}

# Convert to DataFrame
df = pd.DataFrame(data)

# Display the DataFrame
print(df)

           Name    Salary   Age   Function
0    Employee_1   58495.0  45.0         HR
1    Employee_2   38784.0  48.0      Sales
2    Employee_3  120000.0  34.0    Manager
3    Employee_4   60300.0  35.0    Manager
4    Employee_5   46788.0  29.0         HR
5    Employee_6   95098.0  36.0      Sales
6    Employee_7   61550.0  29.0    Manager
7    Employee_8   38155.0  23.0         HR
8    Employee_9   55480.0  29.0      Sales
9   Employee_10   49398.0  25.0         HR
10  Employee_11   64108.0  54.0      Sales
11  Employee_12   38394.0  29.0  Developer
12  Employee_13   46672.0  23.0  Developer
13  Employee_14   20000.0  54.0      Sales
14  Employee_15   87095.0  23.0         HR
15  Employee_16   57055.0  41.0      Sales
16  Employee_17   47194.0  45.0  Developer
17  Employee_18   66267.0  22.0  Developer
18  Employee_19   83203.0  49.0         HR
19  Employee_20   44490.0  27.0      Sales
20  Employee_21   48817.0  27.0         HR
21  Employee_22   37380.0  28.0    Manager
22  Employee_23   53403.0  33.0         HR
23  Employee_24   80283.0  31.0      Sales
24  Employee_25   80000.0  27.0         HR
25  Employee_26   52704.0  36.0      Sales
26  Employee_27   56186.0  30.0  Developer
27  Employee_28   56516.0  24.0  Developer
28  Employee_29   45401.0  29.0         HR
29  Employee_30       NaN   NaN        NaN

In [ ]:
### Question 1 -create a new column Age_Bucketed, which will categorize ages under:
"<20 years",
"20-30 years",
"30-40 years",
"40-50 years",
">50 years"

In [2]:
# Define bins and labels
bins = [0, 20, 30, 40, 50, np.inf]
labels = ["<20 years", "20-30 years", "30-40 years", "40-50 years", ">50 years"]

# Create Age_Bucketed column
df['Age_Bucketed'] = pd.cut(df['Age'], bins=bins, labels=labels, right=False)

# Display the DataFrame with new column
print(df[['Name', 'Age', 'Age_Bucketed']])

           Name   Age Age_Bucketed
0    Employee_1  45.0  40-50 years
1    Employee_2  48.0  40-50 years
2    Employee_3  34.0  30-40 years
3    Employee_4  35.0  30-40 years
4    Employee_5  29.0  20-30 years
5    Employee_6  36.0  30-40 years
6    Employee_7  29.0  20-30 years
7    Employee_8  23.0  20-30 years
8    Employee_9  29.0  20-30 years
9   Employee_10  25.0  20-30 years
10  Employee_11  54.0    >50 years
11  Employee_12  29.0  20-30 years
12  Employee_13  23.0  20-30 years
13  Employee_14  54.0    >50 years
14  Employee_15  23.0  20-30 years
15  Employee_16  41.0  40-50 years
16  Employee_17  45.0  40-50 years
17  Employee_18  22.0  20-30 years
18  Employee_19  49.0  40-50 years
19  Employee_20  27.0  20-30 years
20  Employee_21  27.0  20-30 years
21  Employee_22  28.0  20-30 years
22  Employee_23  33.0  30-40 years
23  Employee_24  31.0  30-40 years
24  Employee_25  27.0  20-30 years
25  Employee_26  36.0  30-40 years
26  Employee_27  30.0  30-40 years
27  Employee_28  24.0  20-30 years
28  Employee_29  29.0  20-30 years
29  Employee_30   NaN          NaN

In [9]:
## Question 2 - Create a new column to generate function codes for each function using department df

In [7]:
#  Create a department DataFrame with unique Function and corresponding Function_Code
department_df = pd.DataFrame({
    'Function': df['Function'].dropna().unique()
})
department_df['Function_Code'] = range(1, len(department_df) + 1)

#  Merge the department_df with the original df on 'Function'
df = df.merge(department_df, on='Function', how='left')

# Display the result
print(df[['Name', 'Function', 'Function_Code']])

           Name   Function  Function_Code
0    Employee_1         HR            1.0
1    Employee_2      Sales            2.0
2    Employee_3    Manager            3.0
3    Employee_4    Manager            3.0
4    Employee_5         HR            1.0
5    Employee_6      Sales            2.0
6    Employee_7    Manager            3.0
7    Employee_8         HR            1.0
8    Employee_9      Sales            2.0
9   Employee_10         HR            1.0
10  Employee_11      Sales            2.0
11  Employee_12  Developer            4.0
12  Employee_13  Developer            4.0
13  Employee_14      Sales            2.0
14  Employee_15         HR            1.0
15  Employee_16      Sales            2.0
16  Employee_17  Developer            4.0
17  Employee_18  Developer            4.0
18  Employee_19         HR            1.0
19  Employee_20      Sales            2.0
20  Employee_21         HR            1.0
21  Employee_22    Manager            3.0
22  Employee_23         HR            1.0
23  Employee_24      Sales            2.0
24  Employee_25         HR            1.0
25  Employee_26      Sales            2.0
26  Employee_27  Developer            4.0
27  Employee_28  Developer            4.0
28  Employee_29         HR            1.0
29  Employee_30        NaN            NaN

In [ ]:
## Question 3 - Create a new column to find outliers in the df: "Outlier", "Not an Outlier"

In [5]:
# we will calculate  Q1 and Q3 for the Salary column (excluding NaN)
Q1 = df['Salary'].quantile(0.25)
Q3 = df['Salary'].quantile(0.75)
IQR = Q3 - Q1

# Define lower and upper bounds
lower_bound = Q1 - 1.5 * IQR
upper_bound = Q3 + 1.5 * IQR

# will Create 'Outlier' column
df['Outlier'] = df['Salary'].apply(
    lambda x: 'Outlier' if pd.notnull(x) and (x < lower_bound or x > upper_bound) else 'Not an Outlier'
)

# we will display  DataFrame with Outlier column
print(df[['Name', 'Salary', 'Outlier']])

           Name    Salary         Outlier
0    Employee_1   58495.0  Not an Outlier
1    Employee_2   38784.0  Not an Outlier
2    Employee_3  120000.0         Outlier
3    Employee_4   60300.0  Not an Outlier
4    Employee_5   46788.0  Not an Outlier
5    Employee_6   95098.0         Outlier
6    Employee_7   61550.0  Not an Outlier
7    Employee_8   38155.0  Not an Outlier
8    Employee_9   55480.0  Not an Outlier
9   Employee_10   49398.0  Not an Outlier
10  Employee_11   64108.0  Not an Outlier
11  Employee_12   38394.0  Not an Outlier
12  Employee_13   46672.0  Not an Outlier
13  Employee_14   20000.0         Outlier
14  Employee_15   87095.0  Not an Outlier
15  Employee_16   57055.0  Not an Outlier
16  Employee_17   47194.0  Not an Outlier
17  Employee_18   66267.0  Not an Outlier
18  Employee_19   83203.0  Not an Outlier
19  Employee_20   44490.0  Not an Outlier
20  Employee_21   48817.0  Not an Outlier
21  Employee_22   37380.0  Not an Outlier
22  Employee_23   53403.0  Not an Outlier
23  Employee_24   80283.0  Not an Outlier
24  Employee_25   80000.0  Not an Outlier
25  Employee_26   52704.0  Not an Outlier
26  Employee_27   56186.0  Not an Outlier
27  Employee_28   56516.0  Not an Outlier
28  Employee_29   45401.0  Not an Outlier
29  Employee_30       NaN  Not an Outlier